*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height:980px ;
    
}
.content{
    width: 100%;
    
    height: 890px;
}
.contentform{
    width: 600px;
    height: 850px;
    
    margin-left: auto;
    margin-right: auto;
  
    top: 100px;
    border-radius: 15px;
} 
.contenth4{
    margin-top: 20px;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    
    color: #FEA116;
    font-family: "Nunito",sans-serif;
    font-weight: 800;
    line-height: 1.2;
}
.contentinput{
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 80px;
}
.contentinput1{
    width: 450px;
    height: 35px;
    background: rgba(255, 255, 255, 0.18);
    border: 1px solid #FEA116;
    border-radius: 15px;
    text-align: start;
    margin-left: 20px;
}
.inputpw{
    display: grid;
    grid-template-columns: 1.35fr 1fr; 
    margin-top: 30px;  
    margin-left: 80px; 
}
.input11{
    margin-left: 75px;
}
.inputpw1{
    width: 41px;
    height: 15px;
    background: #D9D9D9;
    border: 1px solid #FEA116;
    border-radius: 25px;
}
.inputtp1{
    width: 41px;
    height: 38px;
    background: #D9D9D9;
    border: 1px solid #FEA116;
    border-radius: 20px;
}
#forgotpassword{
    font-family: 'Inter';
    font-size: 1em;
    color: #000000;

}
.inputpwa{
    color:#000000;
    padding-right: auto;
}
.bt1{
    width: 206px;
    height: 36px;
    background: #081B60;
    border: 1px solid #081B60;
    border-radius: 40px;
    margin-left: 200px;
    color:#FFFFFF;
}
.or{
    display: grid;
    grid-template-columns: 40% 20% 40%;
    margin-top: 20px;
}
.border1{
    border-bottom: 1px solid #081B60;
    margin-left: 40px;
}
.border2{
    border-bottom: 1px solid #081B60;
    margin-right: 60px;
}
.oror{
    margin-left: 35px;
   
}

.button1{
    width: 352px;
    height: 37px;
    background: rgba(255, 255, 255, 0.18);
    border: 1px solid #000000;
    border-radius: 30px;
    margin-left: 120px;
}
.content .button1:hover{
    background:#FEA116;
    color: #FFFFFF;
}
.content .bt1:hover{
    background:#FEA116;
    color:#fff;
    border: 1px solid #fff;
}
